* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*Sempre colocar 0  na margin e no padding para resetar a pagina e tirar algumas bordas*/
  }

.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
   url("login.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 70vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vh;
    color: #77ffc0;

}


.left-login-image{
    width: 35vw;
    height: 100vh;
    background: url(animacao.svg);
    /*Quero colocar essa imagem como fundo*/
    background-size: cover;  
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;

}

#cc{
    color: #00ff88;
    font-weight: 400;
    margin: 0;   
    padding: 12px;
}

.msg{
    color: #e5ff00;
    margin-left: 30%;
}



#cc > a{
    text-decoration: none;
    margin-left: 5px;
    color: blueviolet;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514868;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;    
    
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 15px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }

    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }
    
    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 50%;
    }
}
